body {
    background-image: url("white_wall.png");
}

.title {
    font-family: Garamond, serif;
    font-size: 50px;
    color: white;
}

.nav-image{
    width: 150px;
}

.home-icons {
    font-size: 15px;
    color: white;
    padding-right: 5px;
}

.icons-button {
    border-radius: 12px;
    color: white;
}